:root {
  --accent-color: #ff6c00;
  --white-color: #ffffff;
  --main-color: #555555;
  --title-color: #303030;
  --second-color: #9da4bd;
  --opacity-color: rgba(157, 164, 189, 0.6);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Шапка */

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
}

.main-menu {
  position: relative;
  height: 680px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  margin-right: 71px;
}

.logo:hover,
.logo:focus {
  fill: var(--accent-color);
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item {
  margin-right: 40px;
}

.menu-item:last-child {
  margin-right: 0;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link:hover::after,
.link:focus::after {
  opacity: 1;
}



.link {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.menu-link {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--white-color);
}

.link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  transition: opacity var(--transition-duration)
    var(--transition-timing-function);
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.contacts .menu-link {
  margin-right: 40px;
}

.contacts .menu-link:last-child {
  margin-right: 0;
}

.button {
  padding: 12px 20px;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
}

/* Герой */

/* .hero {
  height: 680px;
} */

.hero {
  position: relative;
  top: 0;
  left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1125px;
  height: 680px;
  padding: 272px 55px 49px 100px;
  background-color: #c4c4c4;
  background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../images/slider1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-heading {
  width: 500px;
}

.hero-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: var(--opacity-color);
}

.hero-title::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--opacity-color);
}

.hero-subtitle {
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white-color);
}

.hero-text {
  color: var(--second-color);
}

.slider-controls {
  display: flex;
  justify-content: flex-end;
  color: #fff;
}

.controls-item:nth-child(1) {
  position: relative;
  margin-right: 48px;
  text-align: left;
  color: var(--opacity-color);
}

.controls-item:nth-child(1)::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 60px;
  height: 1px;
  background-color: var(--opacity-color);
}

.controls-item:nth-child(2) {
  position: relative;
  text-align: right;
  color: var(--white-color);
}

.controls-item:nth-child(2)::after {
  content: "";
  position: absolute;
  bottom: -8px;
  right: 0;
  width: 60px;
  height: 1px;
  background-color: var(--white-color);
}


.social-list {
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 40px;
  left: 50px;
  transform-origin: center left;
}

.social-item {
  margin-right: 40px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-item:first-child {
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--title-color);
}

.social-link {
  letter-spacing: 0.2em;
  color: var(--title-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.social-link:hover,
.social-link:focus {
  color: var(--accent-color);
}

.slider-nav {
}

.slider-item:nth-child(1) {
  display: block;
  width: 18px;
  height: 2px;
  margin-left: auto;
  margin-bottom: 12px;
  background-color: var(--white-color);
}

.slider-item:nth-child(2),
.slider-item:nth-child(3) {
  display: block;
  width: 8px;
  height: 2px;
  margin-left: auto;
  margin-bottom: 12px;
  background-color: var(--second-color);
}

.slider-item:nth-child(3) {
  margin-bottom: 0;
}