ul {
  list-style: none;
}

a {
  text-decoration: none;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1140px;
    padding-left: 45px;
    padding-right: 45px;
  }
}

.button-white {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: unset;
  background-color: #ffffff;
  border-color: transparent;
  border-radius: 22px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  cursor: pointer;
  color: #d41443;
}

.button-white:hover, .button-white:focus {
  background-color: #ecebeb;
}

.button-red {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: unset;
  background-color: #d41443;
  border-color: transparent;
  border-radius: 22px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  cursor: pointer;
  color: #ffffff;
}

.button-red:hover, .button-red:focus {
  background-color: #c7133e;
}

.section-label {
  font-family: 'Titan One';
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: unset;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
}

@media screen and (min-width: 768px) {
  .section-label {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: unset;
  }
}

@media screen and (min-width: 1280px) {
  .section-label {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.section-title {
  font-family: 'Titan One';
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #D41443;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: unset;
  }
}

@media screen and (min-width: 1280px) {
  .section-title {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6px;
}

@media screen and (min-width: 768px) {
  .main-menu {
    padding-top: 37px;
  }
}

.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

@media screen and (max-width: 1279px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 93px 15px;
    background: rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    opacity: 1;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity;
  }
  .menu--is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .mobile {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 250px;
    height: 100%;
    min-height: 100vh;
    padding: 60px 20px;
    background-color: #e17992;
    overflow: hidden;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
  }
}

@media screen and (max-width: 1279px) and (max-width: 479px) {
  .mobile {
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media screen and (max-width: 1279px) and (min-width: 480px) {
  .mobile {
    right: 0;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1279px) and (max-width: 479px) {
  .menu--is-hidden .mobile {
    transform: translate(-50%, -100%);
  }
}

@media screen and (max-width: 1279px) and (min-width: 480px) {
  .menu--is-hidden .mobile {
    transform: translateY(-100%);
  }
}

.burger-menu {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .burger-menu {
    display: none;
  }
}

.button-close {
  position: absolute;
  top: 23px;
  right: 28px;
}

@media screen and (min-width: 1280px) {
  .menu-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1279px) {
  .menu-item:not(:last-child) {
    margin-bottom: 23px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-item:not(:last-child) {
    margin-right: 35px;
  }
}

.menu-link {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: unset;
  color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

@media screen and (min-width: 1280px) {
  .menu-link {
    padding: 30px 0;
    font-size: 16px;
    line-height: 1.31;
  }
}

.menu-link:hover, .menu-link:focus {
  color: #d41443;
}

.menu-link:hover::after, .menu-link:focus::after {
  opacity: 1;
}

.link-current {
  color: #d41443;
  pointer-events: none;
}

@media screen and (min-width: 1280px) {
  .menu-link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #d41443;
    border-radius: 2px;
    opacity: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity;
  }
}

.button-mobile {
  width: 100%;
  margin-bottom: 32px;
}

@media screen and (min-width: 1279px) {
  .button-mobile {
    display: none;
  }
}

.button-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .button-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .button-nav {
    margin-left: 80px;
  }
}

.button-nav::after {
  position: relative;
  top: 2px;
  content: "";
  width: 6px;
  height: 10px;
  margin-left: 12px;
  background-image: url(../images/arrow.svg);
}

.hero-container {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  height: 500px;
  margin: 0 auto;
  padding-top: 193px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 102px;
    height: 399px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    padding-top: 171px;
    height: 665px;
  }
}

.hero {
  background-color: #ffb8ca;
}

.hero-content {
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.hero-title {
  width: 228px;
  margin-bottom: 19px;
  font-family: "Titan One", cursive;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero-title {
    width: 162px;
    font-size: 22px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title {
    width: 277px;
    margin-bottom: 25px;
    font-size: 38px;
    line-height: 1.16;
  }
}

.hero-accent {
  color: #d41443;
  font-size: 48px;
  line-height: 0.96;
}

@media screen and (min-width: 768px) {
  .hero-accent {
    font-size: 34px;
    line-height: 0.9;
  }
}

@media screen and (min-width: 1280px) {
  .hero-accent {
    font-size: 58px;
    line-height: 0.9;
  }
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero-button-red {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 62px;
  margin-right: 8px;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: unset;
  background-color: #d41443;
  border-color: transparent;
  border-radius: 20px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  cursor: pointer;
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .hero-button-red {
    width: 104px;
    height: 40px;
    margin-right: 15px;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: unset;
  }
}

.hero-button-red:hover, .hero-button-red:focus {
  background-color: #c7133e;
}

.hero-button-white {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 83px;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: unset;
  background-color: #ffffff;
  border-color: transparent;
  border-radius: 20px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  cursor: pointer;
  color: #d41443;
}

@media screen and (min-width: 1280px) {
  .hero-button-white {
    width: 138px;
    height: 40px;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: unset;
  }
}

.hero-button-white:hover, .hero-button-white:focus {
  background-color: #ecebeb;
}

@media screen and (max-width: 767px) {
  .shop-list {
    display: none;
  }
}

.shop-item {
  position: relative;
  text-align: right;
}

.shop-item:not(:last-child) {
  margin-bottom: 13px;
}

@media screen and (min-width: 1280px) {
  .shop-item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.shop-item::after {
  position: absolute;
  bottom: 28px;
  left: 28px;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .shop-item::after {
    bottom: 47px;
    left: 47px;
    width: 30px;
    height: 30px;
  }
}

.shop-quantity {
  position: relative;
  z-index: 1;
  font-family: "Titan One";
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-align: right;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 1280px) {
  .shop-quantity {
    font-size: 46px;
    line-height: 1.15;
    letter-spacing: unset;
  }
}

.shop-name {
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: unset;
  text-align: right;
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .shop-name {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: unset;
  }
}

.img-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.jug {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 767px) {
  .jug {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .jug-img {
    margin-bottom: 28px;
    width: 124px;
    height: 126px;
    background-image: url("../images/hero-tablet/jug-milk.png");
    background-size: 124px 126px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .jug-img {
    background-image: url("../images/hero-tablet/jug-milk@2x.png");
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .jug-img {
    margin-bottom: 45px;
    width: 188px;
    height: 191px;
    margin-right: 30px;
    background-image: url("../images/hero-desktop/jug-milk.png");
    background-size: 188px 191px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 1280px) and (min-resolution: 2dppx) {
  .jug-img {
    background-image: url("../images/hero-desktop/jug-milk@2x.png");
  }
}

.jug-text {
  width: 114px;
  font-size: 8px;
  line-height: 1.5;
  letter-spacing: unset;
  color: #FFFFFF;
}

@media screen and (min-width: 1280px) {
  .jug-text {
    width: 200px;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: unset;
  }
}

.ice-cream::after {
  position: absolute;
  content: "";
  bottom: -75px;
  left: 81px;
  width: 171px;
  height: 410px;
  background-image: url("../images/hero-mobile/ice-cream.png");
  background-size: 171px 410px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .ice-cream::after {
    background-image: url("../images/hero-mobile/ice-cream@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .ice-cream::after {
    bottom: -46px;
    left: 71px;
    width: 143px;
    height: 336px;
    background-image: url("../images/hero-tablet/ice-cream.png");
    background-size: 143px 336px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .ice-cream::after {
    background-image: url("../images/hero-tablet/ice-cream@2x.png");
  }
}

@media screen and (min-width: 1280px) {
  .ice-cream::after {
    bottom: -75px;
    left: 119px;
    width: 236px;
    height: 557px;
    background-image: url("../images/hero-desktop/ice-cream.png");
    background-size: 236px 557px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .ice-cream::after {
    background-image: url("../images/hero-desktop/ice-cream@2x.png");
  }
}

.ice-cream {
  position: absolute;
  bottom: 75px;
  left: 36px;
  width: 346px;
  height: 346px;
  border-radius: 50%;
  background-color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .ice-cream {
    bottom: 46px;
    left: 307px;
    width: 324px;
    height: 324px;
  }
}

@media screen and (min-width: 1280px) {
  .ice-cream {
    bottom: 75px;
    left: 405px;
    width: 538px;
    height: 538px;
  }
}

.tasty {
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .tasty {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .tasty {
    width: 168px;
    height: 133px;
    background-image: url("../images/hero-tablet/tasty.png");
    background-size: 168px 133px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .tasty {
    background-image: url("../images/hero-tablet/tasty@2x.png");
  }
}

@media screen and (min-width: 1280px) {
  .tasty {
    width: 293px;
    height: 232px;
    background-image: url("../images/hero-desktop/tasty.png");
    background-size: 293px 232px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .tasty {
    background-image: url("../images/hero-desktop/tasty@2x.png");
  }
}
/*# sourceMappingURL=main.css.map */